@model Dinner.Models.Ticket
<div>
    <p>@Resources.Resource.QueueInfoLabel</p>
    @{
        string status = "";
        if (Model != null && Model.Id > 0)
        {
            status = @Resources.Resource.TakeQueueSuccess;
        }
        else
        {
            status = @Resources.Resource.TakeQueueError;
        }
        <div class="row">
            <p>@status</p>
        </div>
    }


</div>
